<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Student Management
              System</small></h1>
        </div>
        <div class="col-md-2">
          <div class="dropdown create">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Create Content
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a type="button" data-toggle="modal" data-target="#addFaculty">Add Faculty</a></li>
              <li><a type="button" data-toggle="modal" data-target="#addStudent">Add Student</a></li>
              <li><a type="button" data-toggle="modal" data-target="#addCourse">Add Course</a></li>
              <li><a type="button" data-toggle="modal" data-target="#addDepartment">Add Department</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  