<html>
  <head>
    <title>ERP System Admin</title>

    <link rel="icon" href="./images/robonomics_logo.png" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      function preventBack() { window.history.forward(); }
      setTimeout("preventBack()", -100);
      window.onunload = function () { null };
  </script>
  <script type="text/javascript">
    var accessToken = "ba26b70da45a49a2af26c07b8e2bbdc4";
    var baseUrl = "https://api.dialogflow.com/v1/";

    $(document).ready(function () {
      $("#input").keypress(function (event) {
        if (event.which == 13) {
          $('.chatBox').append('<span class="userInput">' + $('input').val() + '</span><br><br>')
          event.preventDefault();
          let query = $('input').val()
          $('input').val('')
          send(query);

          $(".chatBox").scrollTop($(".chatBox").prop("scrollHeight"));
        }
      });

      $("#send").click(function () {
        $('.chatBox').append('<span class="userInput">' + $('input').val() + '</span><br><br>')
        event.preventDefault();
        let query = $('input').val()
        $('input').val('')
        send(query);

        $(".chatBox").scrollTop($(".chatBox").prop("scrollHeight"));
      });
    });

    function send(query) {
      var text = query;
      $.ajax({
        type: "POST",
        url: baseUrl + "query?v=20180101",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        headers: {
          "Authorization": "Bearer " + accessToken
        },
        data: JSON.stringify({
          query: text,
          lang: "en",
          sessionId: "somerandomthing"
        }),
        success: function (data) {
          setResponse(data);
        }
      });
    }

    function setResponse(val) {
      $(".chatBox").append('<span class="responseData">' + val.result.fulfillment.speech + '</span><br><br>');
      $(".chatBox").scrollTop($(".chatBox").prop("scrollHeight"));
    }
  </script>
    <link rel="stylesheet" href="./mycss/mystyle.css">
  </head>
  
  <body>

    <img class="wave" src="images/wave.png">
      <a href="/" class="btn btn-info btn-lg" style="margin-left: 50px; margin-top: 35px;">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
      <div class="ptext">
        <center>RPA(UiPath) and Chatbot being used in ERP system<br>for Student Management System.<br>For Admin</center>
      </div>

  
      
      <img src="./images/robonomics_logo.png" alt="RobonomicsAI" class="open-button" onclick="openForm()">

  <div class="chat-popup" id="myForm">
    <form class="form-container">
      <header style="border-radius: 25px;">
        <div class="container">
          <div id="branding">
            <a style="color: white;"><img src="./images/robonomics_logo.png" style="margin-right: 10px;"><b>Ask TalkBot</b>
              <button type="button" class="btn cancel" onclick="closeForm()">&#10006;</button>
              <br>
              <p><b>Hello!!</b></p>
            </a>
            <p>This is TalkBot, your personal digital assistant for anything and everything related to RobonomicsAI</p>
          </div>
        </div>
      </header>

      <section id="message">
        <div class='chatBox'>

        </div>
      </section>

      <section id="type">
        <div class="container">
          <input id="input" type="text" placeholder="Type here.." required style="width: 300px;">
          <button id="send" style="cursor: pointer;">&#10148;</button>
        </div>
      </section>

    </form>
  </div>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
  </body>
</html>