<html>

<head>
  <title>ERP System Faculty</title>
  <link rel="icon" href="./images/robonomics_logo.png" type="image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script type="text/javascript">
    function preventBack() {
      window.history.forward();
    }
    setTimeout("preventBack()", -100);
    window.onunload = function () {
      null
    };
  </script>


  <link rel="stylesheet" href="./mycss/mystyle.css">
  <link rel="stylesheet" href="./mycss/notification.css">

</head>

<body>

  <img class="wave" src="images/wave.png">


  <a href="/" class="btn btn-info btn-lg" style="margin-left: 50px; margin-top: -500px; background-color: #0019ff;">
    <span class="glyphicon glyphicon-log-out"></span> Log out
  </a>
  <div class="ptext">
    <center>RPA(UiPath) and Chatbot being used in ERP system<br>for Student Management System.<br>For Faculty</center>
  </div>



  <button class="button" id="myBtn" style="background-color: #0019ff;"><span>Assignment </span></button>

  <!-- <form action="faculty_chatbot" method="GET"> -->
  <a href="/faculty_chatbot.html"><button class="button" style="background-color: #0019ff;"><span>Open Chatbot</span></button>
  </a> <!-- </form> -->

  <button class="button" id="myBtn1" style="background-color: #0019ff;"><span>Announcement </span></button>

  <!-- <input type="button" value="Open Chatbot" href=""" /> -->




  <div id="myModal" class="modal">
    <!-- Modal content for Assignment-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 align="center" style="padding: 5px;">Assignment Form</h2>
      </div>
      <div class="modal-body">
        <p>Click on the "Choose File" button to upload a Asssignment file:</p>

        <form id="uploadForm" action="/faculty_assignment" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="sel1">Select Class:</label>
            <select class="form-control" id="sel1" name="deptclass">
              <option value="BE Comps">BE Comps</option>
              <option value="BE IT">BE IT</option>
              <option value="BE EXTC">BE EXTC</option>
              <option value="BE ETRX">BE ETRX</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlFile1">Please upload the Assignment below: </label>
            <input type="file" class="form-control-file" name="uploaded_image" accept="" />
          </div>

          <!-- <input type="file" id="myFile" name="userPhoto"> -->
          <input type="submit" value="Upload Image" name="submit" style="margin-top: 20px;" onclick="geekConfirm()">
        </form>
      </div>
    </div>
  </div>

  <div id="myModal1" class="modal">
    <!-- Modal content for Notification-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 align="center" style="padding: 5px;">Announcement Section</h2>
      </div>
      <div class="modal-body">

        <form id="uploadForm" action="/faculty_redirect" method="post" enctype="multipart/form-data">

          <div class="form-group">
            <label for="Sender Name">Sender's Name:</label>
            <input type="sname" class="form-control" id="s_name" placeholder="Your Name" name="s_name">
          </div>

          <div class="form-group">
            <label for="sel1">Select Class:</label>
            <select class="form-control" id="sel1" name="dept_announce">
              <option value="BE Comps">BE Comps</option>
              <option value="BE IT">BE IT</option>
              <option value="BE EXTC">BE EXTC</option>
              <option value="BE ETRX">BE ETRX</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="announce_description" rows="5" id="description"></textarea>
          </div>

          <input type="submit" value="Send Notice" name="submit" style="margin-top: 20px;" onclick="geekConfirm()">


        </form>
      </div>
    </div>
  </div>



  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var modal1 = document.getElementById("myModal1");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btn1 = document.getElementById("myBtn1");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }
    btn1.onclick = function () {
      modal1.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
    // // close for announcement
    // span.onclick = function () {
    //   modal1.style.display = "none";
    // }
    

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    window.onclick = function (event) {
      if (event.target == modal1) {
        modal1.style.display = "none";
      }
    }
  </script>


  <script>
    function geekConfirm() {
      var x;
      if (confirm("Following task has been succesfully Completed!!!") == true) {
        x = "OK pressed!";
      } else {
        x = "Cancel!";
      }
      // document.getElementById("geek").innerHTML = x; 
    }
  </script>
</body>

</html>